  
  <div class="alert alert-success alert-dismissible fade in" role="alert" style="z-index: 99999999;">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p><strong>@ViewData["Mensaje"]</strong>Hola</p>
</div>  

