@page
@using DevExpress.AspNetCore
@model DevExtremeAspNetCoreResponsiveApp.Pages.Reportes.EstadoCuentaModel
@{
    ViewData["Title"] = "Estado de Cuenta";
}
<script type="text/javascript">
    function beforeRender(s, e) {
       // s.GetPreviewModel().reportPreview.zoom(1);
    }

    function error(s,e) {
        //alert(e);
    }
</script>

<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<div class="row justify-content-center">
    <div class="col-md-4">
        @(Html.DevExtreme().Lookup().Placeholder("Seleccione la Asignacion").SearchEnabled(true).SearchMode(DropDownSearchMode.Contains).SearchExpr("DatoCompleto").StylingMode(EditorStylingMode.Outlined).DisplayExpr("DatoCompleto").ValueExpr("IdAsignacion").DataSource(
        c=>c.Mvc().Controller("Asignaciones").LoadAction("GetAsignaciones").Key("IdAsignacion")).Value(Model.idselected).PageLoadMode(ListPageLoadMode.NextButton).MinSearchLength(1).SearchTimeout(500)
        //.DataSourceOptions(o => o.Filter("['Estado', '=', 'Vigente']"))
        //.OnSelectionChanged()
        .OnValueChanged(
         @<text>
        function(e){
       
        window.location.href = "/Reportes/EstadoCuenta?id=" + e.value;
        }
        </text>
        )

    )
    </div>
    <div class="col-md-8"></div>
</div>
<div class="row">
    <div class="col-md-12">
        @(Html.DevExpress().WebDocumentViewer("Viewer").Height("800px").Bind(Model.rptEstadoCuenta).ClientSideEvents(c=>c.BeforeRender("beforeRender").OnServerError("error"))
    )
    </div>
</div>

